 {
     "project_id": "infra",
     "zone": "europe-west1-d",
     "source_image": "reddit-base-123456789",
     "machine_type": "f1-micro"
     "tags": "puma-server",
     "ssh_username": "user"
  }
